.navbar {
  	background-color: #FAF7CA;
}

.navbar-brand {
	color: #2A571B;
	font-weight: bold;
	margin-top: 1rem;
	background-image: url('./images/Db.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
}

.navbar-nav .nav-link {
	color: #2A571B;
	font-weight: bold;
	margin-top: 1rem;
}

.navbar-nav .nav-link:active,
.navbar-nav .nav-link:focus {
  color: #474630 !important;
}

.navbar-nav .nav-link:hover {
  text-decoration: underline;
}

.card {
	background-color: #FFFEE9;
}

#card-button {
	background-color: #474630;
	border: none;
}

body {
	font-family: 'Manjari', sans-serif;
}

h4 {
	font-weight: bold;
}

#hero {
	background-color: #FAF7CA;
	background-image: url('./images/hero-background-image.png');
	background-size: fit;
	background-repeat: no-repeat;
	background-position: center center;
	height: 95vh;
}

#hero-title {
	background-image: url('./images/hero-title.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100%;
}

#hero-subtitle {
	color: #588548;
}

#hero-bee-left {
	background-image: url('./images/bee-left.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
}

#hero-bee-right {
	background-image: url('./images/bee-right.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
}

.link-style {
  text-decoration: none; 
  color: #2A571B;
  cursor: pointer
}

.link-style:hover {
  text-decoration: underline;
}

#hero-button-line {
	background-image: url('./images/button-line.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 104.5px;
	height: 24px;
}

#home {
	background-color: #FFFEE9;
}

#home-feedback {
	background-color: #474630;
	height: 140px;
}

#marquee-avatar-1 {
	background-image: url('./images/avatar-1.png');
	width: 42px;
	height: 42px;
}

#marquee-avatar-2 {
	background-image: url('./images/avatar-2.png');
	width: 42px;
	height: 42px;
}

#marquee-avatar-3 {
	background-image: url('./images/avatar-3.png');
	width: 42px;
	height: 42px;
}

#marquee-avatar-4 {
	background-image: url('./images/avatar-4.png');
	width: 42px;
	height: 42px;
}

#marquee-avatar-5 {
	background-image: url('./images/avatar-5.png');
	width: 42px;
	height: 42px;
}

#marquee-avatar-6 {
	background-image: url('./images/avatar-6.png');
	width: 42px;
	height: 42px;
}

#marquee-name, #marquee-subtitle, #footer-name {
	color: #FAF7CA;
}

#marquee-stars {
	background-image: url('./images/stars.png');
	width: 96px;
	height: 16px;
}

#featured-header {
	background-color: #FAF7CA;
}

#featured-icon {
	background-image: url('./images/bookmark.png');
	width: 50px;
	height: 50px;
}

#featured-title {
	font-family: 'Young Serif', serif;
	color: #2A571B;
}

#featured-subtitle {
	font-weight: bold;
	color: #588548;
}

#footer {
	background-color: #474630;
}

#footer-profile {
	background-color: #588548;
	background-image: url('./images/bumblebee.png');
	background-size: 25px 25px;
	background-position: center;
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
}

#footer-socials {
	background-color: #FAF7CA;
	width: 30px;
	height: 30px;
	margin: 0 5px;
	display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none; 
  color: #588548;
  cursor: pointer
}

#shop-header {
	background-color: #FAF7CA;
	background-image: url('./images/shop-header.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

#header-text {
	color: #2A571B;
	font-weight: bold;
}

#header-text-dark {
	color: #474630;
	font-weight: bold;
}

#header-title1 {
	font-family: 'Young Serif', serif;
	color: #2A571B;
}

#header-title2 {
	font-family: 'Sofia', cursive;
	color: #588548;
}

#header-title3 {
	font-family: 'Sofia', cursive;
	color: #2A571B;
}

#shop-products {
	background-color: #FFFEE9;
}

#product-button {
	background-color: #474630;
	border: none;
}

#view-product-container {
	background-color: #FAF7CA;
}

#view-text {
	color: #2A571B;
}

#view-text-bold {
	color: #2A571B;
	font-weight: bold;
}

#view-input-group {
	border: 1px solid #474630;
	border-radius: 6px;
}

#view-input-group-icon {
	background-color: #FFFEE9;
	color: #474630;
	font-weight: bold;
}

#view-input-group-button, #cart-input-group-button, #profile-button, #dashboard-button {
	background-color: #474630;
	border: none;
}

#checkout-container {
	background-color: #FAF7CA;
}

#checkout-header {
	color: #2A571B;
}

#form-container {
	background-color: #FFFEE9;
	border-radius: 16px;
}

#form-text, #cart-items {
	color: #474630;
	font-weight: bold;
}

#sparkle-container {
	background-image: url('./images/sparkle.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: 200px;
	border-radius: 16px;

	font-family: 'Young Serif', serif;
	color: #2A571B;
}

#input-group-radio-box:checked {
	background-color: #2A571B;
	border: none;
}

#profile-header {
	background-color: #FAF7CA;
}

#profile-default {
	background-color: #2A571B;
	background-image: url('./images/bumblebee.png');
	background-size: 50px 50px;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100px;
	height: 100px;
}

#profile-name {
	color: #2A571B;
	font-weight: bold;
}

#profile-description {
	color: #588548;
	font-weight: bold;
}

#profile-view-container {
	background-color: #FFFEE9;
	color: #474630;
}

#change-profile-header, #create-product-header, #edit-product-header {
	background-color: #FAF7CA;
	color: #474630;
	font-weight: bold;
}

#dashboard-header {
	background-color: #FAF7CA;
	color: #588548;
	font-weight: bold;
}

#dashboard-title, #cart-title {
	color: #2A571B;
	font-weight: bold;
}

#dashboard-container, #cart-container {
	background-color: #FFFEE9;
	color: #474630;
	height: 95vh;
}

#dashboard-product {
	color: #474630;
}

#dashboard-product-body {
	background-color: #FAF7CA;
	color: #588548;
	font-weight: bold;
}

#cart-header {
	background-color: #FAF7CA;
}